// *{
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

.notes{
    display: flex;
}

.note{
    padding: 10px;
    border: 2px black solid;
    width: 320px;
    height: 240px;
}

.note:not(:first-of-type){
    margin-left: 10px;
}