@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

$primary: #6D8CFC;
$secondary: #EE86FC;
$text1: #282c3e;
$text2: #3c415d;
$bg1: #fff;
$bg2: #eee;
// $text1: #fff;
// $text2: #eee;
// $bg1: #282c3e;
// $bg2: #3c415d;

body {
	background-image: linear-gradient(45deg, $secondary, $primary);
	background-attachment: fixed;
}

.dark{
	$text1: #fff;
	$text2: rgba($text1, .8);
	$bg1: #282c3e;
}

.btn{
    background-color: $primary;
    padding: 14px;
    border: none;
    border-radius: 10px;
    color: $text1;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: filter .3s;
}

.btn:hover{
    filter: brightness(.9);
}

.btn.ico{
	width: 32px;
	height: 32px;
	font-size: 20px;
	padding: 0;
}

.container {
	width: 1000px;
	margin: 0 auto;
	padding: 20px;
	background-color: rgba($bg1, 0.7);
	margin-top: 20px;
	border-radius: 10px;
}

nav{
	background-color: rgba($bg1, 0.7);
	height: 100px;
	display: flex;
	align-items: center;

	div{
		width: 1000px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.logo{
		text-decoration: none;
		color: $text1;
		font-weight: bold;
		font-size: 20px;

		span{
			color: $primary;
		}
	}
}

.add-note {
	form {
		display: flex;
		flex-direction: column;
	}

	textarea,
	button {
		display: none;
	}

	input, textarea{
		background-color: rgba($text1, .1);
		border: none;
		padding: 20px;
		border-radius: 10px;
		font-size: 14px;
		color: $text1;
		outline: 4px transparent solid;
		transition: outline-color .3s;
	}

	textarea{
		margin: 20px 0;
		resize: vertical;
	}

	input:focus, textarea:focus{
		outline-color: rgba($text1, .05);
	}
}

.add-note.active{
    textarea, button{
        display: block;
    }
}

.notes {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: 20px;
}

.note {
	padding: 20px;
	width: 232px;
	height: 200px;
	background-color: rgba($bg1, 0.4);
	box-shadow: 0 4px 8px rgba(#000, 0.1);
	border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // transition: background-color .3s;

	.title {
		font-size: 16px;
		color: $text1;
		cursor: pointer;
	}

	.content {
		font-size: 12px;
		color: $text2;
		cursor: pointer;
		word-wrap: break-word;
	}

	.date{
		color: $text2;
		font-size: 12px;
	}

	.top,
	.bot {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	button{
		font-size: 18px;
	}
}

.note.dark{
	background-color: rgba($text1, 0.4);
	.title{color: $bg1;}
	.content{color: $bg2;}
}

.note:hover {
	background-color: rgba($bg1, 0.6);
}

.heading {
	color: $text1;
	font-weight: bold;
	font-size: 16px;
}

.overlay{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(#000, .75);
}

.popup{
	position: absolute;
	background-color: $bg1;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	width: 600px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;

	.top{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.date{
		color: $text2;
		font-size: 14px;
	}

	button{
		font-size: 24px !important;
	}

	input{
		background-color: transparent;
		border: none;
		outline: none;
		font-size: 24px;
		margin-top: 20px;
		color: $text1;
	}

	textarea{
		background-color: rgba($text1, .1);
		border: none;
		outline: none;
		font-size: 16px;
		padding: 20px;
		margin-top: 20px;
		border-radius: 20px;
		color: $text2;
	}
}

.btn-ico{
	font-size: 20px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	color: $text2;
	width: 32px;
	height: 32px;
	border-radius: 5px;
}

.btn-ico:hover{
	background-color: rgba($text1, .1);
}

@media screen and (max-width: 1000px){
	.container{
		width: 100%;
		border-radius: 0;
	}

	nav div{
		padding: 20px;
	}

	.note{
		width: 100%;
	}
}